<div class="row">
  <div class="col-lg-12 col-md-6 col-xs-12">
    <div class="header"></div>
  </div>
</div>
  <div class="row p-3">
    <div class="col-md-6" >
      <div class="dropdown">
        <label>Book Name</label>
        <select placeholder="book" name="book" [(ngModel)]="selectedBook" (change)="changeBook($event)">
          <option *ngFor="let doc of book" [value]='doc._id'>{{doc.name}}</option>
        </select>
      </div>
      <div class="dropdown" *ngIf="selectedBook">
        <label>Chapter Name</label>
        <select placeholder="chapter" [(ngModel)]="selectedChapter" (change)="changeChapter($event)">
          <option *ngFor="let topic of chapter">{{topic.chapterName}}</option>
        </select>
      </div>
    </div>  
    <div class="col-md-6">
      <div class="dropdown">
        <label>Movie Name</label>
        <select placeholder="Movie" [(ngModel)]="selectedMovie" (change)="changeMovie($event)">
          <option *ngFor="let topic of movie" [value]="topic._id">{{topic.name}}</option>
        </select>
      </div>
  </div>
</div>
<hr/>
<div class="row p-3" *ngIf="!selectedBook">
<h2 class="p-3">List of Books</h2>
  <div class="col-md-4 col-xs-4" *ngFor="let doc of book">
    <h4 class = "caption">{{ doc.name }}</h4>
  </div>
</div>
<div class="row p-3"  *ngIf="selectedBook">
  <div class="col-md-6 col-xs-6" >
    <h2 class="p-3">Book you selected</h2>
    <h4 class = "caption">{{selectedBook}}</h4>
  </div>
  <div class="col-md-6 col-xs-6"  *ngIf="selectedChapter">
    <h4>A Chapter name from the book "{{selectedBook}}" is</h4>
    <h4 class ="caption">{{selectedChapter}}</h4>
  </div>
</div>
<hr/>
<div class="row p-3" *ngIf="!selectedMovie">
  <h2 class="p-3">List of Movies</h2>
  <div class="col-md-4 col-xs-4" *ngFor="let topic of movie">
    <h4 class="caption">{{ topic.name }}</h4>
  </div>
</div>
<div class="row p-3">
  <div class="col-md-4 col-xs-4" *ngIf="selectedMovie">
    <h2 class="p-3">Movie you selected</h2>
    <h4 class = "caption">{{movieName}}</h4>
  </div>
  
</div>
<hr/>